@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (max-width: 500px) {
  .weather {
    height: 100vh;
  }
}
.weather {
  width: 100%;
  min-height: 100vh;
  position: relative;
  align-items: center;
  font-family: "Rubik", sans-serif;
  background-image: cover;
  background-size: cover; // added this line
  background-attachment: fixed;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  .background-app-weather {
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: 1s all ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-attachment: fixed;
  }
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s;
    z-index: -1;
  }
  .weather-content {
    padding-top: 20px;
    text-align: center;
    position: relative;
    color: white;
    height: 100vh;

    .date-time {
      font-weight: 500;
      font-size: 22px;
    }
    form {
      padding-top: 20px;
      .change-location {
        background-color: transparent;
        padding: 5px;
        border-radius: 5px;
        border: 2px solid white;
      }
      .change-location:hover {
        border: 2px solid white;
        color: white;
        font-weight: 600;
      }
      .change-location:focus-within {
        border-color: white;
        color: white;
        font-weight: 600;
      }
      button {
        border: 2px solid white;
        color: white;
        border-radius: 5px;
        padding: 5px;
        background-color: transparent;
        margin-left: 20px;
        user-select: none;
      }
      button:hover {
        padding: 5px;
        background-color: transparent;
        background: rgba(128, 128, 128, 0.265);
        cursor: pointer;
      }
    }
    .location {
      padding-top: 20px;
      .country {
        font-size: 20px;
        font-weight: 700;
      }
      .city {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
      }
      .region {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
      }
      .continent {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .temp-options {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .temp {
        padding-top: 20px;
        font-size: 40px;
        font-weight: 700;
        color: white;
        &::after {
          content: "°C";
        }
      }

      .weather-img {
        padding-top: 20px;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    .cloud {
      font-size: 20px;
      font-weight: 500;
    }
    .winds {
      padding-bottom: 20px;
      p {
        padding-top: 20px;
      }
    }
    .dropdown {
      width: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding: 5px;
      font-size: 20px;
      font-weight: 500;
      border: 1px solid white;
      border-radius: 10px;
      cursor: pointer;
      user-select: none;

      @media (max-width: 360px) {
        width: 100%;
      }

      &:hover {
        background-color: royalblue;
        opacity: 0.5;
      }
    }
    .astronomy {
      display: flex;
      padding-top: 20px;
      flex-wrap: wrap;
      justify-content: center;

      .astronomy-block {
        text-align: center;
        border: 1px solid white;
        padding: 15px;
      }
    }
  }
}
